; sync this with updates.cooldown.default-days in .github/dependabot.yml
min-release-age=7
@restar-inc:min-release-age=0

; if there are necessary postinstall scripts we expect to run for
; dependencies, we should add them to our own `postinstall` script
; in package.json. For example
;
; "postinstall": "npm rebuild foo bar baz"
ignore-scripts=true
